@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenidos a Royal Rangers DB!</h1>
    <p>Sistema de gestión de miembros y actividades para el destacamento. </a>.</p>
</div>
